.header-list {
  height: 100px;
  background: var(--bg-gradient-1);
}

.container-nav {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */

  .container-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.8rem;
  }

  .link-menu {
    text-decoration: none;
    text-shadow: var(--t-shadow-1);
    font-family: var(--f-1);
    font-weight: 600;
    color: var(--c-1-a);
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container-menu {
  display: flex;
  align-items: center;
  gap: 2rem;

  .container-menu__item {
    /* TOD: ADD STYLES BY MENU CONTAINER */
    display: inherit;
  }

  .btn-menu {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    &:hover {
      background: rgb(0, 0, 0, 0.1);
    }

    &:active {
      background: rgb(0, 0, 0, 0.3);
    }
  }
}

.active-nav {
  text-decoration: underline;
}
