<!-- eslint-disable @angular-eslint/template/alt-text -->
<main>
  <section class="cards">
    <div class="card">
      <img src="./../../../assets/images/rectangle.png" alt="" />
      <div class="card-content">
        <div class="card-title">
          <div class="card-title-item-name">
            <h3 class="title">EA Sports FC 24</h3>
            <span>PS5</span>
          </div>
          <input type="number" min="1" value="1" />
        </div>
        <div class="card-price">
          <div class="card-icons">
            <span class="discard"
              ><img
                src="./../../../assets/images/tabler_shopping-cart-x.png"
                alt=""
            /></span>
            <span class="favorite"
              ><img src="./../../../assets/images/hEART BIG.png" alt=""
            /></span>
          </div>
          <div class="item-price">
            <h3>$1,558.00</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cart-total">
    <div class="cart-total-feature">
      <span class="cart-total-price"> TOTAL </span>
      <button class="cart-buy-button">Comprar</button>
    </div>
  </section>
</main>
