@import url(assets/styles/root.scss);
@import url(assets/styles/fonts.scss);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 0 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.container-img {
  width: 100px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
