/* You can add global styles to this file, and also import other style files */
@import url(assets/styles/root.scss);
@import url(assets/styles/fonts.scss);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  max-width: 1280px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 0 2.5rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    270deg,
    #362256 0.02%,
    #8b1e6f 73.65%,
    #cf3686 102.82%
  );
}
